
* { margin: 0; padding: 0; }

* { text-decoration: none; }

.clearfix { overflow: auto; }

.wrapper {
  margin: 0 auto;
  width: 1280px;
}

body{
  background: rgb(240,248,255);
}

header {
  margin: 10px 0px 10px 0px;
}

header .name {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

header .name h1 {
  color: rgb(11, 123, 115 );
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -1px;
  font-variant: small-caps;
}

header .name p {
  color: rgb(14, 160, 104);
}

header .socialmedia {
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}

header .socialmedia ul {
  list-style: none;
}

header .socialmedia ul li {
  display: inline;
}

header .socialmedia ul li a {
  margin-left: 2px;
  padding: 6px;
  background: #444;
  color: #fff;
  display: inline-block;
  border-radius: 40px;
}

header .socialmedia ul li a:hover{
  color: rgb(255,69,0);
}

.menu-bar {
  background: #0B7B73;
  text-align: center;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
}

.menu-bar ul li {
  width: 130px;
  margin: 5px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.active, .menu-bar ul li:hover{
  background: #37C6BC;
  border-radius: 3px;
}

.sub-menu {
  display: none;
}

.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: rgb(25, 91, 86);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu ul li :last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #85929E;
}

table{
      background-color: #324445;
      color: #c7b214;
      margin: auto;
      margin-top: 100px;
}
tr.s1up{
      background-color: Yellow;
      color: black;
      padding-left: 100px;
      text-align: center;     
}
body{
z-index:-1;
background-size: cover;
pading-left: center;
<div class = "slideshow-container">
var slideIndex = 0;
showSlides();
 var myIndex = 0;
          carousel();
background-size: cover;
padding: center;
          function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
             for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
             }
               myIndex++;
             if (myIndex > x.length) {myIndex = 1}    
               x[myIndex-1].style.display = "block";  
              setTimeout(carousel, 2000); // Change image every 2 seconds
             }
             
}
.tts{
      background-color: green;
}
#tto{
      background-color: red;
}  
.principal{
      position: absolute;   

