body{
    padding: 0;
    margin: 0;
    background-color:rgb(240, 239, 205);
    background-repeat: no-repeat;
    background-image: url(background.jpg);
    background-size: 2000px 1500px;
}
h1{
    color:green;
    background-color:whitesmoke;
    
}
#h{
    font-size: 50px;
}
#tab{
    margin-left: 400px;
    color:rgb(219, 19, 19);
    font-style: italic;
}
.slider-frame{
    overflow: hidden;
    height:800px;
    width:2000px;
    margin-left:0px;
    margin-top:0px;
}
@-webkit-keyframes slide_animation{
    0% {left:0px}
    10% {left:0px}
    20% {left:1200px}
    30% {left:1200px}
    40% {left:2400px}
    50% {left:2400px}
    60% {left:1200px}
    70% {left:1200px}
    80% {left:0px}
    90% {left:0px}
    100% {left:0px}
}
.slide-images{
    height:800px;
    width:3500px;
    margin:0 0 0 -2300px;
    position:relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 25s;
    -webkit-animation-direction: alternate ;
    -webkit-animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
   
}
.image-container{
    height:800px;
    width:700px;
    float:left;
    position:relative;
}
h2{
    color:rgb(219, 19, 19);
    font-style: italic;
}
