*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	background-color: #333;
	font-style: sans-serif;
	background-size: cover;
	background-position: center;
}
.img{
	height: 50px;
	width: 100px;
}
.Container{
	width: 360px;
	height: 1000px;
	position: absolute;
	top: 20%;
	left: 50%;
	color: white;
	text-align: center;
}
.Container h2{
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 30px;
}
.tbox{
	background: #f1f1f1b3;
	border-radius: 8px;
	margin: auto 10px;
}
.tbox input{
	background: none;
	border:none;
	outline: black;
	text-align: center;
	width: 90%;
	line-height: 40px;
	font-family: "montserrat",sans-serif;
	font-size: 14px;
	color: #333;
}
.b1{
	display: block;
	color: white;
	padding: 10,0px;
	text-decoration: none;
	text-align: center;
	margin: auto;
	transition: 0.4s all;
}
a:hover{
	background: #00000040;
}
.menu-bar{
	background: green;
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style-type: none;
	color: white;
}
.menu-bar ul li{
	width: 150px;
	margin: 10px;
	padding: 10px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 2px;
}
.menu-bar .fa{
	margin-right: 8px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background-color: rgb(0,100,0);
	margin-top: 10px;
	margin-left: 10px;

}
.sub-menu-3{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
.sub-menu-2{
	display: none;
}
.menu-bar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background-color: rgb(0,100,0);
	margin-top: 10px;
	margin-left: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-2 li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: #b2ff00;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover{
	color: #b2ff00;
}
.menu-bar ul li:hover .sub-menu-3{
	display: block;
	position: absolute;
	background-color: rgb(0,100,0);
	margin-top: 10px;
	margin-left: 10px;
}
.menu-bar ul li:hover .sub-menu-3 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-3 li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-3 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-3 ul li a:hover{
	color: #b2ff00;